/*.homepage {
    display: flex;
    background: conic-gradient(from 240.3deg at 96.3% 35.69%, rgba(38, 37, 51, 0.884463) -13.39deg, #262533 7.61deg, rgba(38, 37, 51, 0.85) 325.58deg, rgba(38, 37, 51, 0.884463) 346.61deg, #262533 367.61deg);
    height: 75vh;
    justify-content: space-between;
    position: relative;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75);

}*/
.homepage {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 60vh;
    background: conic-gradient(from 236.69deg at 99.58% -1.21%, rgba(38, 37, 51, 0.884463) -3.86deg, #262533 11.09deg, rgba(38, 37, 51, 0.85) 325.58deg, rgba(38, 37, 51, 0.884463) 356.14deg, #262533 371.09deg);
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75); */
    color: white;
}
.row {
    position: relative;
    top: 30%;
    margin: auto;
}
.box-1 {
    color: white;
    width: 30vw;
    padding: 100px 150px;
}
.heading {
    text-align: center;
}
.content {
    margin-top: 20px;
    text-align: center;
}

.button {
    background-color: #FE9920 !important;
    padding: 8px;
    border-radius: 5% !important;
    margin-top: 25px !important;
    box-shadow: 5px 5px 10px #464558 !important;
}


.custom-shape-divider-bottom-1610033275 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

@media screen and (max-width: 990px) {
    .custom-shape-divider-bottom-1610033275 {
        display: none;
    }
    .box-2 {
        display: none;
    }
}

.custom-shape-divider-bottom-1610033275 svg {
    position: relative;
    width: calc(107% + 1.3px);
    height: 40vh;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610033275 .shape-fill {
    fill: #F9F9FF;
}
