.WhyPage {
    height: 100vh;
}
.heading-WhyPage {
    align-content: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.flex-container-2 div {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
}

.WhyPage-box-1 {
    flex: 1;
    height: 65vh;
    border-radius: 8px;
    
}

.WhyPage-box-2 {
    flex: 1;
    height: 65vh;
    border-radius: 8px;
    
 
}

.WhyPage-box-1:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.WhyPage-box-2:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.WhyPage-box-3:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.WhyPage-box-3 {
    flex: 1;
    height: 65vh;
    border-radius: 8px;
    
}