.WhyPage {
    height: 100vh;
    color:black;
}
.heading-WhyPage {
    align-content: center;
    margin: auto;
    padding-bottom: 30px;
    font-size: 30px;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.flex-container-2 div {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
}
p {
    margin: auto;
}
.box {
    margin: 10px 10px;
    padding: 10px 20px;
    height: 30%;
    border-radius: 8px;
    border: 1px solid black;
}

.box-2 {
    margin: 10px 10px;
    padding: 10px 20px;
    height: 30%;
    border-radius: 8px;
    border: 1px solid black;
}
.col {
    
}


.WhyPage-box-3:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.box-3 {
    margin: 10px 10px;
    padding: 10px 20px;
    height: 30%;
    border-radius: 8px;
    border: 1px solid black;
}